.nav-bar {
    width: 1300px;
    height: 56px;
    background-color: #28425a;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    
  }

  .nav-bar li {
  display:inline;
  }

 .nav-bar a{
     display:inline-block;
     padding:20px;
    color: #ffffff
 }

